<div class="edit">
<%= form_for @event do |form| %>
  <%= form.date_field :date %>
  <%= form.text_field :place, :required => true %>
  <%= form.text_field :event, :required => true %>
  <%= form.submit %>
<% end %>
</div>
