<%= link_to 'Back', events_path %>

<div class="show">
  <%= @event.event %>
  created by <%= @event.user.username %> <br />
  <%= @event.date %><br />
  <%= @event.place %><br />
  <%= link_to 'Im attending this event', event_attendances_path(@event), method: :create %>

  <br /><br />
  <div class="titles">
  Attendees
</div>
<div class="attendees">
  <ul>
    <% @event.users.each do |user| %>
    <li>
      <%= user.username %>
      <%= link_to 'Unattend', event_attendance_path(@event), method: :delete %>
    </li>
    <% end %>
  </ul>
</div>

<%= render 'comments' %>
