

<div class="show">
  <%= @event.event %> <br />
  <%= @event.date %><br /><br / />
  <%= @event.place %><br />
  <%= image_tag @event.image %><br />

  <%= link_to "Edit #{@event.event}", edit_event_path(@event) %><br />
  <%= link_to "Delete #{@event.event}", event_path(@event), method: :delete %>
</div>
