<%= link_to 'Back', events_path %>

<div class="show">
  <%= @event.user.email %>
  <%= @event.event %> <br />
  <%= @event.date %><br />
  <%= @event.place %><br />
  <%= link_to 'I went to this event', new_event_attendance_path(@event) %>

  <% if @event.comments.any? %>
    <ul>
      <% @event.comments.each do |comment| %>
        <li>
          <%= comment.body %>
        </li>
    <% end %>
  <% else %>
    <p>No comments yet</p>
  <% end %>
  <div class="image">
    <%= image_tag @event.image %><br />
  </div>

Attendees
<ul>
  <% @event.users.each do |user| %>
    <li>
      <%= user.email %>
    </li>
  <% end %>
</ul>

<br />
  <%= link_to "Edit #{@event.event}", edit_event_path(@event) %><br />
  <%= link_to "Delete #{@event.event}", event_path(@event), method: :delete %>
  <br />
  <%= link_to "Add a comment", new_event_comment_path(@event) %>
</div>
