<div class="show-body">
<div id="new-back"
<br /><%= link_to 'Back', events_path %>
</div>

<br /><br />
<h1 id= "event-names">
    <%= @event.event %>
  </h1>
    <div id ="nit"> created by </div>
    <h4 id= "event-titles"><%= @event.user.username %> </h4></br>
    <div id ="nit"> taking place on the </div>
    <h4 id= "event-titles"><%= @event.date %><br /></h1>
    <div id ="nit"> at </div>
    <h4 id= "event-titles"> <%= @event.place %><br /></h4><br />
  <div id = "lnkz">
  <%= link_to 'Click to attend this event', event_attendances_path(@event), method: :create %>
  </div>
<br />
<div id ="nit">  Attendees: </div><br />

    <% @event.users.each do |user| %>
      <h5 id="event-titles"><%= user.username %></h5>
      <%= link_to 'Unattend', event_attendance_path(@event), method: :delete %><br />
    <% end %><br />


<%= render 'comments' %>
</div>
